@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond";
}

.home,
.section-0,
.section-1,
.section-2 {
  box-sizing: border-box;
}
.container {
  background:black;
  height: auto;
  overflow: hidden;
}
.container .home {
  display: grid;
  grid-template-columns: 50% 30%;
  height: 100vh;
}
.container .home .copy {
  align-content: center;
  padding: 0 5rem;
  height: 100%;
}
.container .home .copy h2{
  font-size: 5vmin;
  font-weight: 500;
  word-wrap: break-word;
  margin-top: 30vh;
  margin-left: 50%;
  color:wheat;
}
.container .home .copy h1{
  font-size: 8vmin;
  font-weight: 600;
  align-self: center;
  margin-left: 50%;
  color:wheat;
}
.container .home .copy p{
  font-size: 2.5vmin;
  align-self: center;
  margin-left: 50%;
  color:wheat;
}
.container .home .image-wrapper {
  height: 100vh;
  width: 100%;
}
.container .home .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.container .section-0 {
  margin-top: 20vh;
  text-align: center;
  margin-bottom: 10vh;
}
.container .section-0 p {
  font-size: 4vmin;
  color:wheat;
}
.container .section-0 cite {
  font-size: 2.5vmin;
  color:wheat;
}




.container .section-1 {
  height: 70 vh;
  display: grid;
  place-content: center;
  padding: 0 1rem;
  z-index: 7;
}
.container .section-1 .image-mask {
  width: 50vw;
  height: 55vh;
  object-fit: cover;
  background: url("media/kukuh.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 90%;
  background-size: 100%;
  z-index: 1;
}




.container .section-2 {
  display: grid;
  margin-left: 13%;
  grid-template-columns: 40% 30% 15%;
  grid-column-gap: 5%;
  box-sizing: border-box;
  margin-top: 30vh;
  z-index: -1;
  overflow: hidden;
}
/*sticky about*/
.strips {
  height: auto;
  text-align: center;
  color: wheat;
}
.strips__strip {
  will-change: width, left, z-index, height;
  width: 100%;
  min-height: 100vh;
  position: relative;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips__strip:nth-child(1) {
  left: 0vw;
  height: 50vw;
  box-shadow: 0 20px 50px wheat;
}
.strips__strip:nth-child(2) {
  left: 0vw;
  height:50vw;
  box-shadow: 0 20px 50px wheat;
}
.strips__strip:nth-child(3) {
  left: 0vw;
  height:50vw;
  box-shadow: 0 20px 50px wheat;
}
.strips__strip:nth-child(1) .strip__content {
  background: black;
  transform: translate3d(-100%, 0, 0);
  -webkit-animation-name: strip1;
          animation-name: strip1;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.strips__strip:nth-child(2) .strip__content {
  background: black;
  transform: translate3d(0, 100%, 0);
  -webkit-animation-name: strip2;
          animation-name: strip2;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.strips__strip:nth-child(3) .strip__content {
  background: black;
  transform: translate3d(0, -100%, 0);
  -webkit-animation-name: strip3;
          animation-name: strip3;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.strips .strip__content {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.strips .strip__content:hover:before {
  transform: skew(-30deg) scale(2) translate(0, 0);
  opacity: 0.1;
}
.strips .strip__content:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: wheat;
  opacity: 0.04;
  transform-origin: center center;
  transform: skew(0deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips .strip__inner-text {
  will-change: transform, opacity;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips .strip__inner-text h2{
  font-size: 4vmin;
  font-weight: 600;
}


/*box 1*/
.strips .strip__inner-text .me{
  height: 100%;
}
.strips .me .bio{
  margin-top: 10%;
}
.strips .me .bio p{
  font-size: 2vmin;
  text-align: left;
}
.strips .me .bio span{
  font-size: 2.3vmin;
  font-weight: 700;
}
.strips .me .biodata{
  font-size: 2vmin;
  text-align: left;
  list-style-type: none;
}
.strips .me .biodata .bio-title{
  font-size: 2.5vmin;
  font-weight: 700;
  text-decoration: underline;
}
.strips .me .biodata .language{
  display: grid;
  grid-template-columns: 50% 50%;
  list-style-type: none;
}
.strips .me .biodata .media{
  display: grid;
  grid-template-columns: 30% 70%;
}
.strips .me .biodata .media a{
  color:wheat;
}
.strips .me .biodata .media a:hover{
  color: white;
}
.strips .me .biodata .media .social-media{
  width: 50px;
  text-align: left;
  text-decoration: none;
  margin: 5px 2px;
}
.strips .me .biodata .media .social-media span{
  font-size: 2vmin;
  color: wheat;
}
.strips .me .biodata .cv{
  font-size: 2vmin;
  position: relative;
  display: inline-block;
  padding: 15px 15px;
  color: wheat;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}
.strips .me .biodata .cv:hover{
  background: wheat;
  color: #050801;
  box-shadow: 0 0 5px wheat,
              0 0 25px wheat,
              0 0 50px wheat,
              0 0 200px wheat;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.strips .me .biodata .cv span{
  position: absolute;
  display: block;
}
.strips .me .biodata .cv span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,wheat);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.strips .me .biodata .cv span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,wheat);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.strips .me .biodata .cv span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,wheat);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
.strips .me .biodata .cv span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,wheat);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}


/*box 2*/
.strips .skills {
  will-change: transform, opacity;
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 3fr;
  z-index: 5;
  top: 55%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.bar {
  height: auto;
  width: 100%;
  align-items: flex-start;
  margin-top: -20%;
}
.bar ul{
  padding: 0;
  list-style: none;
  width: 80%;
  margin-left: 10%;
  position: absolute;
}
.bar ul li {
  width: 100%;
  list-style-type: none;
}

progress[value] {
  appearance: none;
  border: none;
  width: 100%; 
  height: 30px;
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
  color: royalblue;
  position: relative;
  margin-bottom: 2%;
}

progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
  position: relative;
  background-size: 35px 30px, 100% 100%, 100% 100%;
  border-radius:3px;
  animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 
  100% { background-position: -100px 0; } 
}

progress[value]::-webkit-progress-value:after {
  content: '';
  position: relative;
  width:5px; 
  height:5px;
  top:7px; 
  right:7px;
  background-color: white;
  border-radius: 100%;
}

progress[value]::-moz-progress-bar {
  background-image:
  -moz-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
  -moz-linear-gradient( top,
   rgba(255, 255, 255, .25),
   rgba(0,0,0,.2)),
  -moz-linear-gradient( left, #09c, #f44);
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
}

.progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
  width: 100%; 
  height:20px;
}

.progress-bar span {
  background-color: royalblue;
  border-radius: 3px;
  display: block;
  text-indent: -9999px;
}

p[data-value] { 
  position: relative; 
  text-align: left;
  font-size: 2vmin;
  margin-top: 2%;
}

p[data-value]:after {
  content: attr(data-value) '%';
  position: absolute; 
  right:0;
}


.msword::-webkit-progress-value,
.odoo::-webkit-progress-value  {
  background-image:
  -webkit-linear-gradient( 135deg,
    transparent,
    transparent 33%,
   rgba(0,0,0,.1) 33%,
   rgba(0,0,0,.1) 66%,
    transparent 66%),
  -webkit-linear-gradient( top,
   rgba(255, 255, 255, .25),
   rgba(0,0,0,.2)),
  -webkit-linear-gradient( left, wheat, #ffcf76);
}

.excel::-webkit-progress-value,
.html5::-webkit-progress-value 
{
  background-image:
  -webkit-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
  -webkit-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
  -webkit-linear-gradient( left, wheat, #ffcf76);
}

.mspoint::-webkit-progress-value,
.css3::-webkit-progress-value 
{
  background-image:
  -webkit-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
  -webkit-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
  -webkit-linear-gradient( left, wheat, #ffcf76);
}

.msword::-moz-progress-bar,
.html5::-moz-progress-bar {
  background-image:
  -moz-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
  -moz-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
  -moz-linear-gradient( left, wheat, #ffcf76);
}

.excel::-moz-progress-bar,
.php::-moz-progress-bar 
{
  background-image:
  -moz-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
  -moz-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
  -moz-linear-gradient( left, wheat, #ffcf76);
}

.mspoint::-moz-progress-bar,
.css3::-moz-progress-bar {
  background-image:
  -moz-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
  -moz-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
  -moz-linear-gradient( left, wheat, #ffcf76);
}


/*box 3*/ 
.flex { 
  display: -webkit-flex; 
  display: flex; 
  -webkit-flex-direction: row;  
  flex-direction: row; 
  -webkit-justify-content: flex-start; 
  justify-content: flex-start;
  width: 100vw;
}

.slider{
  height: 100%;
  width: 100%;
}
.slider-wrapper {
  margin-top: 7vw;
}
.slide {
  position: relative;
}
.slide-image {
  width: 24vw;
  height:30vw;
  margin-left: -1%;
}
.slide-image img {
  width: 24vw;
  height:35vw; 
  cursor: pointer;
}
.slide-image .pf{
  width: 23vw;
  height: 65vh;
  margin-top: -1%;
}
.slide-content {
  width: 30vw; 
  color: wheat; 
  padding:3vw 18vw 3vw 9vw;
  margin-right: 20vw;
  margin-top: 10%;
}
.slide-title{
  font-size: 5vmin;
  margin-left: -30%;
  text-align: left;
  margin-bottom: 2px;
}
.slide-content p{
  font-size: 2vmin;
  margin-left: -8.6vw;
  margin-right: 25vw;
  text-align: left;
}
.slide-content .personal{
  margin-left: -30%;
}
div.overlay-blue {
  width: 100%; 
  height: 100%; 
  position: absolute; 
}
.arrows{
  width: 3.5vw; 
  margin-top: 20vh;
  margin-left: 35vw;
  position: relative;
}
.arrow {
  display: inline-block; 
  position: absolute; 
  width: 1.2vw; 
  height: 1.2vw; 
  background: transparent; 
  text-indent: -9999px; 
  border-top: 0.15vw solid wheat; 
  border-left: 0.15vw solid wheat; 
  transition: all .1s ease-in-out; 
  text-decoration: none; 
  color: transparent;
}
.arrow:hover {
  border-color: white; 
  border-width: 0.25vw;
}
.arrow:before {
  display: block; 
  height: 200%; 
  width: 200%; 
  margin-left: -50%; 
  margin-top: -50%; 
  content: ""; 
  transform: rotate(45deg);
}
.arrow.prev {
  transform: rotate(-45deg); 
  left: 0;
}
.arrow.next {
  transform: rotate(135deg); 
  right: 0;}





.strips__strip--expanded:nth-child(1){
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
.strips__strip--expanded:nth-child(2) {
  width: 100%;
  top: 20 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
.strips__strip--expanded:nth-child(3) {
  width: 120%;
  top: 40 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
.strips__strip--expanded .strip__content:hover:before {
  transform: skew(-30deg) scale(1) translate(0, 0);
  opacity: 0.1;
}
.strips__strip--expanded .strip__title {
  opacity: 0;
}
.strips__strip--expanded .strip__inner-text {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.strip__title {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 7vmin;
  font-weight: 500;
  color: wheat;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strip__close {
  position: absolute;
  right: 3vw;
  top: 3vw;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transition-delay: 0.5s;
}
.strip__close--show {
  opacity: 1;
}
@-webkit-keyframes strip1 {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip1 {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes strip2 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip2 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes strip3 {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip3 {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft{
 -webkit-animation: fadeInLeft 2s both; /* Safari 4+ */
 -moz-animation: fadeInLeft 2s both; /* Fx 5+ */
 -o-animation: fadeInLeft 2s both; /* Opera 12+ */
 animation: fadeInLeft 2s both; /* IE 10+, Fx 29+ */
} 

/* Safari 4+ */
@-webkit-keyframes fadeInLeft {
 0% {
     opacity: 0;
     -webkit-transform: translateX(-50px);
 }
 100% {
     opacity: 1;
     -webkit-transform: translateX(0);
 }
}

/* Fx 5+ */
@-moz-keyframes fadeInLeft {
 0% {
     opacity: 0;
     -moz-transform: translateX(-50px);
 }
 100% {
     opacity: 1;
     -moz-transform: translateX(0);
 }
}

/* Opera 12+ */
@-o-keyframes fadeInLeft {
 0% {
     opacity: 0;
     -o-transform: translateX(-50px);
 }
 100% {
     opacity: 1;
     -o-transform: translateX(0);
 }
}

/* IE 10+, Fx 29+ */
@keyframes fadeInLeft {
 0% {
     opacity: 0;
     transform: translateX(-50px);
 }
 100% {
     opacity: 1;
     transform: translateX(0);
 }
}

/*  d-micro*/
.container .section-2 .pinned-quote1{
  display: none;
}
.container .section-2 .pinned-quote h2 {
  font-size: 8vmin;
  font-weight: 700;
  text-align: right;
  padding: 16px 16px 5px 16px;
  color:wheat;
  display: block;
  border-bottom: 3px double wheat;
}
.container .section-2 .clicked1{
  font-size: 2vmin;
  position: relative;
  padding: 30px 30px;
  color: wheat;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 1px solid wheat;
  margin-top: 85vh;
  display: none;
}
.container .section-2 .click .clicked{
  font-size: 2vmin;
  position: relative;
  display: inline-block;
  padding: 30px 30px;
  color: wheat;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 1px solid wheat;
  margin-top: 85vh;
}
.container .section-2 .clicked1:hover{
  background: wheat;
  color: #050801;
  box-shadow: 0 0 5px wheat,
              0 0 25px wheat,
              0 0 50px wheat,
              0 0 200px wheat;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.container .section-2 .clicked:hover{
  background: wheat;
  color: #050801;
  box-shadow: 0 0 5px wheat,
              0 0 25px wheat,
              0 0 50px wheat,
              0 0 200px wheat;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.fa {
  color: wheat;
  font-size: 2vmin;
}
.checked {
  color: goldenrod;
}




/*experience timeline*/
.container .section-3 {
  position: relative;
  height: auto;
  place-content: center;
  margin-top: 20%;
  margin-bottom: 9%;
  z-index: 1;
}
.container .section-3 h2{
  font-size: 6vmin;
  font-weight: 700;
  width: 40%;
  text-align: center;
  color: wheat;
  margin: 5% auto;
  border-bottom: 3px double wheat;

}
.entries {
  max-width: 85vw;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 1%;
}
.entry {
  width: 100%;
  text-align: center;
}
.box{
    width: auto;
    position: relative;
    justify-content: space-between;
    display: grid;
}
.card{
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.face{
    width: 21.6vw;
    height: 27.7vh;
    transition: 0.5s;
    display: flex;
}
.face1{
    position: relative;
    background: black;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transform: translateY(50%);
}
.box .card:hover .face.face1{
    background: #202020;
    transform: translateY(0);
}
.face1 .content{
    opacity: 0.8;
    transition: 0.5s;
}
.box .card:hover .face.face1 .content{
    opacity: 1;
}
.face1 .content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    align-items: center;
}
.first .face1 .content img{
  margin-top: 20px;
  width: 70%;
}
.second .face1 .content img{
  width: 90%;
}
.third .face1 .content img{
  margin-top: 40px;
  width: 70%;
}
.fourth .face1 .content img{
  width: 60%;
}
.face1 .content h3{
    margin: 5px 0 0;
    padding: 0;
    color: wheat;
    text-align: center;
    font-size: 2.5vmin;
}
.first .face1 .content h3{
  margin-top: 20px;
}
.second .face1 .content h3{
  margin-top: 10px;
}
.third .face1 .content h3{
  margin-top: 45px;
}
.fourth .face1 .content h3{
  margin-top: 10px;
}
.face2{
    position: relative;
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 20px 50px wheat;
    padding: 0 10%;
    transform: translateY(-50%);
    z-index: 1;
}
.box .card:hover .face.face2{
    transform: translateY(0);
}

.face2 .content h4{
  word-wrap: break-word;
  margin-bottom: 10%;
  font-size: 2.5vmin;
  font-weight:600;
  margin-top: -10%;
}
.face2 .content p{
    font-size: 2vmin;
    color: black;
}





/* contact*/
.container .section-4{
  color: wheat;  
  height: 90vh;
  overflow: hidden;
}
.container .section-4 .contact{
  text-align: center;
  margin-top: 5%;
  z-index:2;
}
.container .section-4 h3{
  font-size: 2.5vmin;
  font-weight: 800;
  z-index:2;
}
.container .section-4 h2{
  font-size: 4vmin;
  font-weight: 900;
  margin-bottom: 0.5%;
  z-index:2;
}
.container .section-4 p{
  width: 43vw;
  font-size: 2vmin;
  z-index: 2;
  margin-left: 28%;
  margin-bottom: 3%;
}
.container .section-4 .mail{
  font-size: 2vmin;
  position: relative;
  display: inline-block;
  padding: 30px 30px;
  color: wheat;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  z-index: 2;
}
.container .section-4 img{
  position: relative;
  height: 400px;
  width: 650px;
  margin-left: -4%;
  opacity: 0.5;
  z-index: 1;
}
.container .section-4 .mail:hover{
  background: wheat;
  color: #050801;
  box-shadow: 0 0 5px wheat,
              0 0 25px wheat,
              0 0 50px wheat,
              0 0 200px wheat;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.container .section-4 .mail span{
  position: absolute;
  display: block;
}
.container .section-4 .mail span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,wheat);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.container .section-4 .mail span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,wheat);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.container .section-4 .mail span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,wheat);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
.container .section-4 .mail span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,wheat);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}



.footer{
  width: 20vw;
  font-size: 2vmin;
  font-weight: 400;
  word-wrap: break-word;
  color:wheat;
  padding-bottom: 0,5%;
  opacity: 0.5;
}




/*media queries dekstop*/
@media screen
and (min-device-width: 2500px) {
  .container .section-4 img{
    height: 500px;
    width: 850px;
    margin-top: 7vh;
  }
  .second .face1 .content img{
    width: 100%;
  }
  .fourth .face1 .content img{
    width: 100%;
  }
}

@media screen
and (min-device-width: 1920px)
and (max-device-width: 2499px) {
  .container .section-4 img{
    height: 350px;
    width: 600px;
    margin-top: 5%;
  }
}

@media screen
and (min-device-width: 1600px)
and (max-device-width: 1919px) {
  .container .section-4 img{
    height: 350px;
    width: 600px;
    margin-top: 4%;
  }
}

@media screen
and (min-device-width: 1440px)
and (max-device-width: 1599px) {
  .container .section-4 img{
    height: 300px;
    width: 500px;
    margin-top: 4%;
  }
}

@media screen
and (min-device-width: 1280px)
and (max-device-width: 1439px) {
  .container .section-4 img{
    height: 250px;
    width: 400px;
    margin-top: 4%;
  }
}

@media screen
and (min-device-width: 1280px)
and (max-device-width: 1439px)
and (-webkit-min-device-pixel-ratio: 2){
}

@media screen
and (max-device-width: 1280px)
and (device-height: 1024px) {
  .container .home .copy {
    padding: 0 2rem;
  }
  .container .home .copy h1{
    margin-left: 40%;
  }
  .container .home .copy p{
    margin-left: 40%;
  }
  .container .section-1 .image-mask {
    width: 75vw;
    height: 60vh;
  }
  .strips__strip {
    min-height: 100vh;
  }
  .container .section-2 {
    grid-template-columns: 45% 35% 5%;
    grid-column-gap: 10%;
  }
  .bar {
    margin-top: -30%;
  }
  .strips__strip--expanded:nth-child(3) {
    width: 110%;
  }
  .slide-image img {
    width: 35vw;
    height: 60vh;
    margin-top: 0%;
  }
  .slide-image .pf{
    width: 35vw;
    height: 70vh;
    margin-top: -5%;
  }
  .slide-title{
    font-size: 6vmin;
    margin-left: -50%;
    padding-top: 130%;
    margin-top: 60%;
  }
  .slide-content .personal{
    margin-left: -50%;
    padding-top: 90%;
    margin-top: 120%;
  }
  .arrows{
    width: 4vw; 
  }
  .container .section-4 img{
    height: 300px;
    width: 500px;
    margin-top: 8%;
  }
  .footer{
    font-size: 2.5vmin;
  }
}

@media screen
and (max-device-width: 1024px) {
  .container .home .copy {
    padding: 0 2rem;
  }
  .container .section-1 .image-mask {
    width: 75vw;
    height: 60vh;
  }
  .strips__strip {
    min-height: 100vh;
  }
  .container .section-2 {
    grid-template-columns: 45% 35% 5%;
    grid-column-gap: 10%;
  }
  .bar {
    margin-top: -30%;
  }
  .strips__strip--expanded:nth-child(3) {
    width: 110%;
  }
  .slide-image img {
    width: 35vw;
    height: 60vh;
    margin-top: 10%;
  }
  .slide-image .pf{
    width: 35vw;
    height: 70vh;
    margin-top: 10%;
  }
  .slide-title{
    font-size: 6vmin;
    margin-left: -50%;
    padding-top: 130%;
    margin-top: 60%;
  }
  .slide-content .personal{
    margin-left: -50%;
    padding-top: 90%;
    margin-top: 120%;
  }
  .arrows{
    width: 4vw; 
  }
  .container .section-4 img{
    height: 250px;
    width: 400px;
    margin-top: 5%;
  }
}


/*media queries tablet*/
@media only screen  
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .container .home {
    grid-template-columns: 60% 40%;
    margin-bottom: 15vh;
  }
  .container .home .copy{
    padding: 0 5rem;
  }
  .container .home .copy h1 {
    font-size: 5vmin;
    margin-top: 35vh;
    margin-left: 15%;
  }
  .container .home .copy span {
    font-size: 10vmin;
  }
  .container .home .copy p{
    font-size: 3vmin;
    margin-left: 15%;
  }
  .container .home .image-wrapper img {
    object-fit: cover;
  }
  .container .section-0 {
    margin-bottom: 10vh;
  }
  .container .section-0 p {
    font-size: 4vmin;
  }
  .container .section-0 cite {
    font-size: 3.5vmin;
  }
  .container .section-1 {
    height: 70vh;
    margin-bottom: 10vh;
  }
  .container .section-1 .image-mask {
    width: 70vw;
    height: 60vh;
  }
  .container .section-2 {
    margin-left: 0%;
    grid-template-columns: 20% 30%;
    column-gap: 45%;
  }
  .strips{
    height: 100vh;
  }
  .strip__title{
    font-size: 3.5vmin;
    word-wrap: break-word;
  }
  .strips__strip:nth-child(1) {
    height: 100vh;
    left: 0vw;
  }
  .strips__strip:nth-child(2) {
    height: 100vh;
    left: 20vw;
    top: -100vh;
  }
  .strips__strip:nth-child(3) {
    height: 100vh;
    left: 40vw;
    top: -200vh;
  }
  .strips .strip__content:hover:before {
    transform: skew(-30deg) scale(1) translate(0, 0);
  }
  .strips__strip:nth-child(1) .strip__content {
    background: #120B00;
  }
  .strips__strip:nth-child(3) .strip__content {
    background: #120B00;
  }
  .strips__strip--expanded:nth-child(1){
    width: 300%;
    height: 100vh;
  }
  .strips__strip--expanded:nth-child(2) {
    width: 300%;
    height: 100vh;
    top: -100vh;
  }
  .strips__strip--expanded:nth-child(3) {
    width: 300%;
    height: 100vh;
    top: -200vh;
  }
  .strips .me .bio{
    margin-left: 5%;
    margin-top: 5%;
  }
  .strips .me .bio p{
    font-size: 2.5vmin;
  }
  .strips .me .bio span{
    font-size: 3vmin;
  }
  .strips .me .biodata{
    font-size: 2.5vmin;
  }
  .strips .me .biodata .bio-title{
    font-size: 3vmin;
  }
  .strips .me .biodata .language{
    grid-template-columns: 30% 70%;
  }
  .strips .me .biodata .media .social-media span{
    font-size: 2.5vmin;
    color: wheat;
  }
  .strips .me .biodata .cv{
    font-size: 2.5vmin;
    margin-top: -2%;
  }
  .strips .skills{
    top: 50%;
  }
  .bar {
    margin-left: 5%;
  }
  .bar ul{
    width: 75%;
  }
  progress[value] {
    height:23px;
    margin-bottom: 3%;
  }
  .strips .strip__inner-text h2{
    font-size: 4vmin;
  }
  p[data-value] { 
    font-size: 3vmin;
  }
  .slide-image img {
    width: 35vw;
    height:70vh; 
    margin-top: 0%;
  }
  .slide-image .pf{
    width: 35vw;
    height: 80vh;
    margin-top: -10%;
  }
  .slide-title{
    font-size: 6vmin;
    margin-left: 10%;
    margin-top: 60%;
  }
  .slide-content .personal{
    margin-left: 10%;
    margin-top: 70%;
  }
  .slide-content p{
    margin-left: 3.5vw;
    margin-right: 7vw;
  }
  .arrows{
    margin-top: 1vh;
    margin-left: 52vw;
  }
  .strips .strip__inner-text h3{
    font-size: 3vmin;
  }
  .container .section-2 .pinned-quote h2 {
    margin-top: 0%;
    padding: 16px 16px 16px 16px;
    font-size: 6vmin;
  }
  .container .section-2 .clicked1{
    display: inline-block;
    margin-top: 70vh;
    margin-left: 10vw;
    padding: 25px 25px;
  }
  .container .section-2 .click{
    display: none;
  }
  .container .section-3 h2{
    font-size: 6vmin;
  }
  .entries {
    max-width: 90vw;
  }
  .face{
    width: 23vw;
    height: 30vh;
  }
  .third .face1 .content img{
    margin-top: 35px;
    margin-bottom: 5px;
  }
  .fourth .face1 .content img{
    width: 70%;
  }
  .face1 .content h3{
    font-size: 3vmin;
  }
  .first .face1 .content h3{
    margin-top: 10%;
  }
  .second .face1 .content h3{
    margin-top: 4%;
  }
  .face2 .content h4{
    font-size: 2.5vmin;
  }
  .face2 .content p{
    font-size: 2vmin;
  } 
  .container .section-4 h3{
    font-size: 3vmin;
    margin-top: 10%;
  }
  .container .section-4 h2{
    font-size: 4vmin;
  }
  .container .section-4 p{
    font-size: 2.5vmin;
    margin-left: 28%;
  }
  .container .section-4 img{
    height: 325px;
    width: 500px;
  }
  .container .section-4 .mail{
    font-size: 2.5vmin;
  }
  .footer{
    font-size: 3vmin;
  }
}

@media only screen
  and (min-device-width: 1181px)  
  and (max-device-width: 1280px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .slide-title{
    margin-top: 50%;
  }
  .slide-content .personal{
    margin-top: 50%;
  }
  .arrows{
    margin-top: 2vh;
    margin-left: 53vw;
  }
  .container .section-4{
    height: 100vh;
  }
  .container .section-4 img{
    height: 300px;
    width: 450px;
  }
}

@media only screen
  and (min-device-width: 1024px)  
  and (max-device-width: 1180px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .container .section-4 {
    height: 100vh;
  }
  .container .section-4 h3{
    margin-top: 15%;
  }
  .container .section-4 img{
    height: 275px;
    width: 400px;
    margin-top: 5%;
  }
}

@media only screen  
  and (device-width: 1138px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
  .bar ul{
    margin-top: 5%;
  }
  .slide-title{
    margin-top: 45%;
  }
  .slide-content .personal{
    margin-top: 45%;
  }
  .arrows{
    margin-top: 5vh;
    margin-left: 53vw;
  }
  .container .section-4 h3{
    margin-top: 10%;
  }
}

@media only screen  
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .bar ul{
    margin-top: 10%;
  }
  .slide-image img {
    margin-top: 10%;
  }
  .slide-image .pf{
    margin-top: 0%;
  }
  .slide-title{
    font-size: 6vmin;
    margin-left: 10%;
    margin-top: -60%;
  }
  .slide-content .personal{
    margin-left: 10%;
    margin-top: 0%;
  }
  .arrows{
    margin-top: 0vh;
    margin-left: 52vw;
  }
}

@media only screen  
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2){
  .container .home {
    grid-template-columns: 50% 50%;
  }
  .container .home .copy h1 {
    margin-left: 5%;
    margin-top: 45vh;
  }
  .container .home .copy p{
    margin-left: 5%;
  }
  .container .section-0{
    margin-top: 15vh;
  }
  .container .section-1{
    height: 80vh;
  }
  .container .section-1 .image-mask {
    width: 80vw;
    height: 40vh;
  }
  .container .section-2 {
    margin-left: 0%;
    margin-top: 10vh;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 15% 60% 15%;
    column-gap: 0%;
    row-gap: 5%;
  }
  .strips{
    height: auto;
  }
  .strips__strip {
    min-height: 60vh;
    width: 30%;
  }
  .strip__title{
    font-size: 5vmin;
    word-wrap: break-word;
  }
  .strips__strip:nth-child(1) {
    left: 5vw;
  }
  .strips__strip:nth-child(2) {
    left: 35vw;
    top: -60vh;
  }
  .strips__strip:nth-child(3) {
    left: 65vw;
    top: -120vh;
  }
  .strips .strip__content:hover:before {
    transform: skew(-30deg) scale(1) translate(0, 0);
  }
  .strips__strip:nth-child(2) .strip__content {
    background: #120B00;
  }
  .strips__strip:nth-child(3) .strip__content {
    background: black;
  }
  .strips__strip--expanded:nth-child(1){
    width: 100%;
    height: 60vh;
  }
  .strips__strip--expanded:nth-child(2) {
    width: 100%;
    height: 60vh;
    top: -60vh;
  }
  .strips__strip--expanded:nth-child(3) {
    width: 100%;
    height: 60vh;
    top: -120vh;
  }
  .strips .strip__inner-text h2{
    font-size: 3.5vmin;
  }
  .strips .me .bio{
    margin-left: 5%;
    margin-right: 25%;
    margin-top: 0%;
  }
  .strips .me .bio p{
    font-size: 2.2vmin;
  }
  .strips .me .bio span{
    font-size: 2.5vmin;
  }
  .strips .me .biodata{
    font-size: 2.2vmin;
  }
  .strips .me .biodata .bio-title{
    font-size: 2.7vmin;
  }
  .strips .me .biodata .language{
    grid-template-columns: 55% 45%;
  }
  .strips .me .biodata .media{
    grid-template-columns: 50% 50%;
  }
  .strips .me .biodata .media .social-media span{
    font-size: 2.2vmin;
  }
  .strips .me .biodata .cv{
    font-size: 2.2vmin;
  }
  .strips .skills {
    top: 50%;
  }
  .bar{
    margin-top: 0%;
  }
  .bar ul{
    width: 65%;
    margin-left: 15%;
    margin-top: -15%;
  }
  progress[value] {
    height: 23px;
    margin-bottom: 3%;
  }
  p[data-value] { 
    font-size: 2.5vmin;
  }
  .strips .exp{
    width: 90%;
    height: 90%;
  }
  .slide-image img {
    width: 55vw;
    height: 50vh;
    margin-top: -20%;
  }
  .slide-image .pf{
    width: 50vw;
    height: 55vh;
    margin-top: -30%;
  }
  .slide-title{
    font-weight: 500;
    font-size: 6vmin;
    margin-left: 25vw;
    padding-top: 0%;
    margin-top: 0vh;
    margin-right: -15vw;
  }
  .slide-content .personal{
    margin-left: 25vw;
    padding-top: 0%;
    margin-top: 0vh;
  }
  .slide-content p{
    font-size: 2.5vmin;
    margin-left: 25vw;
    margin-right: -20vw;
    text-align: left;
  }
  .arrows{
    width: 7vw; 
    margin-top: 5vh;
    margin-left: 80vw;
  }
  .arrow { 
    width: 3vw; 
    height: 3vw; 
  }
  .strips .strip__inner-text h3{
    font-size: 2.7vmin;
  }
  .container .section-2 .pinned-quote1{
    display: block;
  }
  .container .section-2 .pinned-quote1 h2{
    font-size: 8vmin;
    font-weight: 700;
    text-align: right;
    margin-left: 45%;
    padding: 16px 16px 5px 16px;
    color:wheat;
    display: block;
    border-bottom: 3px double wheat;
    width: 50%;
  }
  .container .section-2 .pinned-quote{
    display: none;
  }
  .container .section-2 .click .clicked{
    font-size: 3vmin;
    position: relative;
    margin-left: 40vw;
    display: inline-block;
    padding: 30px 30px;
    margin-top: 5vh;
  }
  .container .section-3{
    margin-top: 0%;
    margin-bottom: 0vh;
  }
  .container .section-3 .first{
    top: 0 !important;
  }
  .container .section-3 .second{
    margin-top: 35vh !important;
    margin-left: -5vw !important;
  }    
  .container .section-3 .third{
    margin-top: 70vh !important;
    margin-left: -15vw !important;
  }
  .container .section-3 .fourth{
    margin-top: 105vh !important;
    margin-left: -25vw !important;
  }
  .face{
    height: 25vh;
    width: 45vw;
  }
  .fourth .face1 .content img{
    width: 100%;
  }
  .face1 .content h3{
    font-size: 3.5vmin;
  }
  .first .face1 .content h3{
    margin-top: 30px;
  }
  .second .face1 .content h3{
    margin-top: 20px;
  }
  .third .face1 .content h3{
    margin-top: 45px;
  }
  .fourth .face1 .content h3{
    margin-top: 30px;
  }
  .face2 .content h4{
    font-size: 3vmin;
  }
  .face2 .content p{
    font-size: 2.5vmin;
  }
  .container .section-4 {
    height: 90vh;
    margin-top: -20vh;
  }
  .container .section-4 h3{
    font-size: 3vmin;
    margin-top: 20%;
  }
  .container .section-4 h2{
    margin-bottom: 3%;
    font-size: 4.5vmin;
  }
  .container .section-4 p{
    width: 80vw;
    margin-left: 10%;
    margin-bottom: 8%;
    font-size: 2.5vmin;
  }
  .container .section-4 .mail{
    font-size: 2.5vmin;
  }
  .container .section-4 img{
    height: 425px;
    width: 700px;
    margin-top: 10%;
  }
  .footer{
    width: 40vw;
  }
}

@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .container .section-1 .image-mask {
    width: 80vw;
    height: 35vh;
  }
  .container .section-4 img{
    height: 475px;
    width: 600px;
  }
}

@media only screen 
  and (max-device-width: 800px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .container .section-1 .image-mask {
    width: 80vw;
    height: 35vh;
  }
  .container .section-4 img{
    height: 450px;
    width: 550px;
  }
} 


  

/*media queries mobile*/
@media only screen 
  and (min-device-width: 0px)
  and (max-device-width: 480px)
  and (orientation: portrait) {
    .container .home {
      grid-template-columns: 100%;
    }
    .container .home .copy{
      padding: 0 2rem;
    }
    .container .home .copy h2 {
      font-size: 9vmin;
      margin-left: auto;
      margin-right: auto;
      margin-top: 35vh;
      text-align: center;
    }
    .container .home .copy h1 {
      font-size: 13vmin;
      text-align: center;
      margin-top: 10vh;
    }
    .container .home .copy p{
      margin-top: 1vh;
      font-size: 4vmin;
      margin-left: 5vw;
      margin-right: 5vw;
      text-align: center;
    }
    .container .home .image-wrapper {
      display:none;
    }
    .container .section-0{
      margin-top: 5vh;
      margin-bottom: 0vh;
    }
    .container .section-0 p {
      font-size: 4.5vmin;
    }
    .container .section-0 cite {
      font-size: 3vmin;
    }
    .container .section-1{
      height: 50vh;
    }
    .container .section-1 .image-mask {
      width: 80vw;
      height: 24vh;
    }
    .container .section-2 {
      grid-template-rows: 10% 60% 15%;
      column-gap: 0%;
      row-gap: 5%;
    }
    .strip__title{
      font-size: 6vmin;
    }
    .strips .me .bio p{
      font-size: 3vmin;
    }
    .strips .me .bio span{
      font-size: 3.5vmin;
    }
    .strips .me .biodata{
      font-size: 3vmin;
    }
    .strips .me .biodata .bio-title{
      font-size: 3.5vmin;
    }
    .strips .me .biodata .media .social-media span{
      font-size: 3vmin;
    }
    .strips .me .biodata .cv{
      font-size: 3vmin;
    }
    .strips .strip__inner-text h2{
      font-size: 5.5vmin;
      margin-top: 5vh;
    }
    .bar{
      margin-top: 5vh;
    }
    progress[value] {
      height: 35px;
      margin-bottom: 3%;
    }
    p[data-value] { 
      font-size: 3.5vmin;
    }
    .slide-image img {
      width: 55vw;
      height: 45vh;
      margin-top: 5%;
    }
    .slide-image .pf{
      width: 55vw;
      height: 50vh;
      margin-top: -15%;
    }
    .slide-title{
      font-size: 7vmin;
      margin-top: 16vh;
      margin-right: -15vw;
    }
    .slide-content .personal{
      margin-left: 25vw;
      margin-top: 20vh;
    }
    .slide-content p{
      font-size: 3.5vmin;
      margin-left: 25vw;
      margin-right: -25vw;
      text-align: left;
    }
    .arrows{
      width: 9vw; 
      margin-top: 3vh;
      margin-left: 80vw;
    }
    .arrow { 
      width: 4vw; 
      height: 4vw; 
    }
    .container .section-3{
      margin-bottom: 25vh;
    }
    .container .section-3 h2{
      font-size: 8vmin;
      width: 80%;
    }
    .face1 .content h3{
      font-size: 4.5vmin;
  }
    .container .section-3 .first{
      top: 0 !important;
    }
    .container .section-3 .second{
      margin-top: 35vh !important;
      margin-left: -10vw !important;
    }    
    .container .section-3 .third{
      margin-top: 70vh !important;
      margin-left: -20vw !important;
    }
    .container .section-3 .fourth{
      margin-top: 105vh !important;
      margin-left: -30vw !important;
    }
    .face{
      height: 20vh;
      width: 50vw;
    }
    .face2 .content p{
      font-size: 3vmin;
    }
    .face2 .content h4{
      font-size: 3.5vmin;
    }
    .container .section-4 {
      height: 70vh;
    }
    .container .section-4 h3{
      font-size: 4vmin;
    }
    .container .section-4 h2{
      font-size: 6vmin;
      margin-bottom: 3%;
    }
    .container .section-4 p{
      width: 80vw;
      font-size: 3.5vmin;
      margin-left: 10%;
      margin-bottom: 8%;
    }
    .container .section-4 img{
      height: 450px;
      width: 750px;
      margin-top: 15%;
    }
    .container .section-4 .mail{
      font-size: 3vmin;
    }
    .footer{
      width: 40vw;
      font-size: 4vmin;
    }
}

@media only screen  
  and (max-device-width: 926px) 
  and (orientation: landscape) {
    .container .home {
      grid-template-columns: 50% 50%;
    }
    .container .home .copy{
      padding: 0 0rem;
    }
    .container .home .copy h2 {
      font-size: 6vmin;
      margin-left: 15%;
    }
    .container .home .copy h1 {
      font-size: 9vmin;
      margin-left: 15%;
      margin-top: 0vh;
      text-align: left;
    }
    .container .home .copy p{
      font-size: 4vmin;
      margin-left: 15%;
    }
    .container .home .image-wrapper img {
      object-fit: contain;
    }
    .container .section-0 {
      margin-bottom: 10vh;
    }
    .container .section-0 p {
      font-size: 5vmin;
    }
    .container .section-0 cite {
      font-size: 4.5vmin;
    }
    .container .section-1 {
      height: 100vh;
      margin-bottom: 10vh;
    }
    .container .section-1 .image-mask {
      width: 70vw;
      height: 85vh;
    }
    .strip__title{
      font-size: 5vmin;
    }
    .bar {
      margin-top: -10%;
      margin-left: 15%;
    }
    .bar ul{
      width: 50%;
      margin-top:0%;
    }
    progress[value] {
      height: 15px;
      margin-bottom: 2%;
    }
    .strips .strip__inner-text h2{
      font-size: 5vmin;
    }
    p[data-value] { 
      font-size: 3vmin;
    }
    .slide-image img {
      width: 30vw;
      height:85vh; 
      margin-top: -30%;
    }
    .slide-image .pf{
      width: 25vw;
      height: 85vh;
      margin-left: 10%;
      margin-top: -30%;
    }
    .slide-title{
      font-size: 7vmin;
      margin-left: 2%;
      padding-top: 0%;
      margin-top: 0vh;
    }
    .slide-content .personal{
      margin-left: 0%;
      padding-top: 0%;
      margin-top: 5vh;
    }
    .slide-content p{
      font-size: 3vmin;
      margin-right: 7vw;
      margin-left: 0.5vw;
    }
    .arrows{
      margin-top: -1vh;
      margin-left: 51vw;
    }
    .container .section-2 .pinned-quote h2 {
      margin-top: 0%;
      padding: 16px 16px 16px 16px;
      font-size: 7vmin;
    }
    .container .section-2 .clicked1{
      font-size: 2.5vmin;
      margin-top: 60vh;
      margin-left: 13vw;
    }
    .container .section-3 h2{
      font-size: 7vmin;
    }
    .face{
      height: 40vh;
    }
    .second .face1 .content img{
      margin-top: 20px;
    }
    .third .face1 .content img{
      margin-top: 35px;
      margin-bottom: 5px;
    }
    .fourth .face1 .content img{
      width: 40%;
    }
    .face1 .content h3{
      font-size: 4vmin;
    }
    .third .face1 .content h3{
      margin-top: 25px;
    }
    .face2 .content h4{
      font-size: 3.5vmin;
    }
    .face2 .content p{
      font-size: 3vmin;
    }
    .container .section-4 h3{
      font-size: 3.5vmin;
      margin-top: 10%;
    }
    .container .section-4 h2{
      font-size: 5vmin;
    }
    .container .section-4 p{
      font-size: 3vmin;
      margin-left: 28%;
    }
    .container .section-4 img{
      height: 300px;
      width: 450px;
      margin-top: -25%;
      margin-left: 75%;
    }
    .container .section-4 .mail{
      font-size: 3vmin;
    }
    .footer{
      font-size: 4vmin;
    }
}

@media only screen 
  and (min-device-width: 376px) 
  and (max-device-width: 414px)
  and (max-device-height: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait){
    .face{
      height: 25vh;
    }
    .container .section-3 .second{
      margin-top: 50vh !important;
    }    
    .container .section-3 .third{
      margin-top: 100vh !important;
    }
    .container .section-3 .fourth{
      margin-top: 150vh !important;
    }
    .face2 .content p{
      font-size: 3vmin;
    }
    .face2 .content h4{
      font-size: 3.5vmin;
    }
}

@media only screen 
  and (min-device-width: 376px) 
  and (max-device-width: 414px)
  and (max-device-height: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait){
  .strips .skills {
    margin-top: 0%;
  }
  .slide-title{
    margin-top: 10vh;
  }
  .slide-content .personal{
    margin-top: 15vh;
  }
  .arrows{
    margin-top: 0vh;
  }
  .face{
    height: 25vh;
  }
  .container .section-3 .second{
    margin-top: 50vh !important;
  }    
  .container .section-3 .third{
    margin-top: 100vh !important;
  }
  .container .section-3 .fourth{
    margin-top: 150vh !important;
  }
  .face2 .content p{
    font-size: 3vmin;
  }
  .face2 .content h4{
    font-size: 3.5vmin;
  }
  .container .section-4{
    height: 90vh;
  }
  .container .section-4 img{
    height: 450px;
    width: 750px;
    margin-top: 15%;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .container .section-1 .image-mask {
    width: 75vw;
    height: 24vh;
  }
  .strips .skills {
    margin-top: 0%;
  }
  .slide-title{
    margin-top: 10vh;
  }
  .slide-content .personal{
    margin-top: 15vh;
  }
  .arrows{
    margin-top: 0vh;
  }
  .face{
    height: 25vh;
  }
  .container .section-3 .second{
    margin-top: 50vh !important;
  }    
  .container .section-3 .third{
    margin-top: 100vh !important;
  }
  .container .section-3 .fourth{
    margin-top: 150vh !important;
  }
  .container .section-4 {
    height: 80vh;
  }
  .container .section-4 img{
    height: 450px;
    width: 750px;
    margin-top: 15%;
  }
}

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 319px)
  and (-webkit-min-device-pixel-ratio: 2.625)
  and (orientation: portrait) {
    .container .section-1 .image-mask {
      height: 22.5vh;
    }
    .container .section-4 {
      height: 70vh;
    }
    .container .section-4 img{
      height: 425px;
      width: 700px;
      margin-top: 10%
    }
}

@media only screen 
  and (min-device-width: 668px)
  and (max-device-width: 780px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .container .section-4 img{
    height: 350px;
    width: 550px;
    margin-top: -27%;
    margin-left: 75%;
  }
  .arrows{
    margin-top: 0vh;
    margin-left: 51vw;
  }
}

@media only screen 
  and (min-device-width: 569px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .container .section-1 .image-mask {
    width: 70vw;
    height: 80vh;
  }
  .arrows{
    margin-top: 0vh;
    margin-left: 51vw;
  }
  .strips .me .bio p{
    font-size: 2.5vmin;
  }
  .strips .me .bio span{
    font-size: 3vmin;
  }
  .strips .me .biodata{
    font-size: 2.5vmin;
  }
  .strips .me .biodata .bio-title{
    font-size: 3vmin;
  }
  .strip__title{
    font-size: 5vmin;
  }
  .strips .strip__inner-text .hnm{
    font-size: 2.5vmin;
  }
  .strips .strip__inner-text h3{
    font-size: 3vmin;
  }
  .face2 .content h4{
    font-size: 3vmin;
  }
  .face2 .content p{
    font-size: 2.5vmin;
  }
  .container .section-4 h3{
    font-size: 3vmin;
    margin-top: 15%;
  }
  .container .section-4 h2{
    font-size: 4.5vmin;
  }
  .container .section-4 p{
    font-size: 2.5vmin;
  }
  .container .section-4 .mail{
    font-size: 2.5vmin;
  }
  .container .section-4 img{
    height: 350px;
    width: 550px;
    margin-top: -30%;
    margin-left: 75%;
  }
}

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .strips .me .bio p{
    font-size: 2.5vmin;
  }
  .strips .me .bio span{
    font-size: 3vmin;
  }
  .strips .me .biodata{
    font-size: 2.5vmin;
  }
  .strips .me .biodata .bio-title{
    font-size: 3vmin;
  }
  .strip__title{
    font-size: 5vmin;
  }
  .arrows{
    margin-top: 0vh;
    margin-left: 51vw;
  }
  .strips .strip__inner-text .hnm{
    font-size: 2.5vmin;
  }
  .strips .strip__inner-text h3{
    font-size: 3vmin;
  }
  .face2 .content h4{
    font-size: 3vmin;
  }
  .face2 .content p{
    font-size: 2.5vmin;
  }
  .container .section-4 h3{
    font-size: 3vmin;
    margin-top: 15%;
  }
  .container .section-4 h2{
    font-size: 4.5vmin;
  }
  .container .section-4 p{
    font-size: 2.5vmin;
  }
  .container .section-4 .mail{
    font-size: 2.5vmin;
  }
  .container .section-4 img{
    height: 350px;
    width: 550px;
    margin-top: -25%;
    margin-left: 75%;
  }
}