@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond";
}

.home,
.section-0,
.section-1,
.section-2 {
  box-sizing: border-box;
}
.container {
  background:black;
  height: auto;
  overflow: hidden;
}
.container .home {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100vh;
}
.container .home .copy {
  align-content: center;
  padding: 0 5rem;
  height: 100%;
}
.container .home .copy h1{
  font-size: 5vmin;
  font-weight: 500;
  word-wrap: break-word;
  margin-top: 30vh;
  margin-left: 50%;
  color:wheat;
}
.container .home .copy span {
  font-size: 10vmin;
  font-weight: 700;
}
.container .home .copy p{
  font-size: 3vmin;
  align-self: center;
  margin-left: 50%;
  color:wheat;
}
.container .home .image-wrapper {
  height: 100vh;
  width: 100%;
}
.container .home .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.container .section-0 {
  margin-top: 20vh;
  text-align: center;
}
.container .section-0 p {
  font-size: 4vmin;
  color:wheat;
}
.container .section-0 cite {
  font-size: 2.5vmin;
  color:wheat;
}




.container .section-1 {
  height: 100vh;
  display: grid;
  place-content: center;
  padding: 0 1rem;
  z-index: 7;
}
.container .section-1 .image-mask {
  width: 80vw;
  height: 85vh;
  object-fit: cover;
  background: url("media/q.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 90%;
  background-size: 100%;
  z-index: 1;
}




.container .section-2 {
  display: grid;
  margin-left: 2.5%;
  grid-template-columns: 40% 30% 10%;
  grid-column-gap: 15%;
  box-sizing: border-box;
  margin-top: 30vh;
  z-index: -1;
  overflow: hidden;
}
/*sticky about*/
.strips {
  min-height: 100%;
  text-align: center;
  color: wheat; 
}
.strips__strip {
  will-change: width, left, z-index, height;
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips__strip:nth-child(1) {
  left: 0vw;
  height: 50vw;
}
.strips__strip:nth-child(2) {
  left: 0vw;
  height:50vw;
}
.strips__strip:nth-child(3) {
  left: 0vw;
  height:50vw;
}
.strips__strip:nth-child(4) {
  left: 0vw;
  height:50vw;
}
.strips__strip:nth-child(1) .strip__content {
  background: black;
  transform: translate3d(-100%, 0, 0);
  -webkit-animation-name: strip1;
          animation-name: strip1;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.strips__strip:nth-child(2) .strip__content {
  background: black;
  transform: translate3d(0, 100%, 0);
  -webkit-animation-name: strip2;
          animation-name: strip2;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.strips__strip:nth-child(3) .strip__content {
  background: black;
  transform: translate3d(0, -100%, 0);
  -webkit-animation-name: strip3;
          animation-name: strip3;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.strips__strip:nth-child(4) .strip__content {
  background: black;
  transform: translate3d(0, 100%, 0);
  -webkit-animation-name: strip4;
          animation-name: strip4;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.strips .strip__content {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.strips .strip__content:hover:before {
  transform: skew(-30deg) scale(2) translate(0, 0);
  opacity: 0.1;
}
.strips .strip__content:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: wheat;
  opacity: 0.04;
  transform-origin: center center;
  transform: skew(0deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips .strip__inner-text {
  will-change: transform, opacity;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips .strip__inner-text h2{
  font-size: 3vmin;
  font-weight: 600;
}


/*box 1*/
.strips .strip__inner-text .me{
  height: 100%;
}
.strips .me .bio{
  margin-top: 10%;
  margin-left: 10%;
}
.strips .me .bio p{
  font-size: 2vmin;
  text-align: left;
}
.strips .me .bio span{
  font-size: 2.3vmin;
  font-weight: 700;
}
.strips .me .biodata{
  font-size: 2vmin;
  text-align: left;
  list-style-type: none;
}
.strips .me .biodata .bio-title{
  font-size: 2.5vmin;
  font-weight: 700;
  text-decoration: underline;
}
.strips .me .biodata .language{
  display: grid;
  grid-template-columns: 50% 50%;
  list-style-type: none;
}
.strips .me .biodata .media{
  display: grid;
  grid-template-columns: 30% 70%;
}
.strips .me .biodata .media a{
  color:wheat;
}
.strips .me .biodata .media a:hover{
  color: white;
}
.strips .me .biodata .media .social-media{
  width: 50px;
  text-align: left;
  text-decoration: none;
  margin: 5px 2px;
}
.strips .me .biodata .media .social-media span{
  font-size: 2vmin;
  color: wheat;
}
.strips .me .biodata .cv{
  font-size: 2vmin;
  position: relative;
  display: inline-block;
  padding: 15px 15px;
  color: wheat;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}
.strips .me .biodata .cv:hover{
  background: wheat;
  color: #050801;
  box-shadow: 0 0 5px wheat,
              0 0 25px wheat,
              0 0 50px wheat,
              0 0 200px wheat;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.strips .me .biodata .cv span{
  position: absolute;
  display: block;
}
.strips .me .biodata .cv span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,wheat);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.strips .me .biodata .cv span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,wheat);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.strips .me .biodata .cv span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,wheat);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
.strips .me .biodata .cv span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,wheat);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}


/*box 2*/
.strips .skills {
  will-change: transform, opacity;
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 3fr;
  z-index: 5;
  top: 55%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.bar {
  height: auto;
  width: 100%;
  align-items: flex-start;
  margin-top: -20%;
}
.bar ul{
  padding: 0;
  list-style: none;
  width: 80%;
  margin-left: 10%;
  position: absolute;
}
.bar ul li {
  width: 100%;
  list-style-type: none;
}

progress[value] {
  appearance: none;
  border: none;
  width: 100%; 
  height: 20px;
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
  color: royalblue;
  position: relative;
  margin-bottom: 2%;
}

progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
  position: relative;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius:3px;
  animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 
  100% { background-position: -100px 0; } 
}

progress[value]::-webkit-progress-value:after {
  content: '';
  position: relative;
  width:5px; 
  height:5px;
  top:7px; 
  right:7px;
  background-color: white;
  border-radius: 100%;
}

progress[value]::-moz-progress-bar {
  background-image:
  -moz-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
  -moz-linear-gradient( top,
   rgba(255, 255, 255, .25),
   rgba(0,0,0,.2)),
  -moz-linear-gradient( left, #09c, #f44);
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
}

.progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
  width: 100%; 
  height:20px;
}

.progress-bar span {
  background-color: royalblue;
  border-radius: 3px;
  display: block;
  text-indent: -9999px;
}

p[data-value] { 
  position: relative; 
  text-align: left;
  font-size: 2vmin;
  margin-top: 2%;
}

p[data-value]:after {
  content: attr(data-value) '%';
  position: absolute; 
  right:0;
}


.msword::-webkit-progress-value,
.odoo::-webkit-progress-value  {
  background-image:
  -webkit-linear-gradient( 135deg,
    transparent,
    transparent 33%,
   rgba(0,0,0,.1) 33%,
   rgba(0,0,0,.1) 66%,
    transparent 66%),
  -webkit-linear-gradient( top,
   rgba(255, 255, 255, .25),
   rgba(0,0,0,.2)),
  -webkit-linear-gradient( left, wheat, #ffcf76);
}

.excel::-webkit-progress-value,
.html5::-webkit-progress-value 
{
  background-image:
  -webkit-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
  -webkit-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
  -webkit-linear-gradient( left, wheat, #ffcf76);
}

.mspoint::-webkit-progress-value,
.css3::-webkit-progress-value 
{
  background-image:
  -webkit-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
  -webkit-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
  -webkit-linear-gradient( left, wheat, #ffcf76);
}

.msword::-moz-progress-bar,
.html5::-moz-progress-bar {
  background-image:
  -moz-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
  -moz-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
  -moz-linear-gradient( left, wheat, #ffcf76);
}

.excel::-moz-progress-bar,
.php::-moz-progress-bar 
{
  background-image:
  -moz-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
  -moz-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
  -moz-linear-gradient( left, wheat, #ffcf76);
}

.mspoint::-moz-progress-bar,
.css3::-moz-progress-bar {
  background-image:
  -moz-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
  -moz-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
  -moz-linear-gradient( left, wheat, #ffcf76);
}


/*box 3*/ 
.flex { 
  display: -webkit-flex; 
  display: flex; 
  -webkit-flex-direction: row;  
  flex-direction: row; 
  -webkit-justify-content: flex-start; 
  justify-content: flex-start;
  width: 100vw;
}

.slider{
  height: 100%;
  width: 100%;
}
.slider-wrapper {
  margin-top: 5vw;
}
.slide {
  position: relative;
}
.slide-image {
  width: 24vw;
  height:30vw;
}
.slide-image img {
  width: 24vw;
  height:30vw; 
  cursor: pointer;
}
.slide-image .pf{
  width: 23vw;
  height: 65vh;
  margin-top: -5%;
}
.slide-content {
  width: 25vw; 
  color: wheat; 
  padding:3vw 18vw 3vw 9vw;
  margin-right: 20vw;
}
.slide-title{
  font-size: 6vmin;
  margin-left: -30%;
  height:100%;
  padding-top: 70%;
  text-align: left;
}
.slide-content .personal{
  margin-left: -30%;
  padding-top: 90%;
}
div.overlay-blue {
  width: 100%; 
  height: 100%; 
  position: absolute; 
}
.arrows{
  width: 3.5vw; 
  margin-top: 1vw;
  margin-left: 39vw;
  position: relative;
}
.arrow {
  display: inline-block; 
  position: absolute; 
  width: 1.2vw; 
  height: 1.2vw; 
  background: transparent; 
  text-indent: -9999px; 
  border-top: 0.15vw solid wheat; 
  border-left: 0.15vw solid wheat; 
  transition: all .1s ease-in-out; 
  text-decoration: none; 
  color: transparent;
}
.arrow:hover {
  border-color: white; 
  border-width: 0.25vw;
}
.arrow:before {
  display: block; 
  height: 200%; 
  width: 200%; 
  margin-left: -50%; 
  margin-top: -50%; 
  content: ""; 
  transform: rotate(45deg);
}
.arrow.prev {
  transform: rotate(-45deg); 
  left: 0;
}
.arrow.next {
  transform: rotate(135deg); 
  right: 0;}



/*box 4*/
.strips .hnmn{
  height: 1%;
  top: -65%;
}
.strips .strip__inner-text .hnm{
  text-align: left;
  height: 100%;
  font-size: 2vmin;
  margin-top: 0%;
}
.strips .strip__inner-text h3{
  font-size: 2.5vmin;
  font-weight: 600;
  margin-bottom: 5%;
} 
.strips .strip__inner-text .hnm .hnmun{
  height: 50%;
  width:100%;
  margin-top: 10%;
  margin-left: -5%;
}
.gallery {
  display: flex;
  width: 100%;
  height:100vh;
  overflow: hidden;
  margin: auto;
}
.gallery__strip {
  min-height: 60vh;
  width: 12vw;
}
.gallery__strip__wrapper {
  justify-content: flex-end;
  background: rgb(12, 12, 12);
  position: relative;
  flex: 0 0 25%;
}
.gallery__strip.one {
  animation: 60s move-it ease alternate infinite 5s;
  transform: translateY(2%);
}
.gallery__strip.three {
  animation: 70s move-it ease alternate infinite 6s;
  transform: translateY(2%);
}
.gallery__strip.two {
  animation: 58s move-it-2 ease alternate infinite 5s;
  transform: translateY(-50%);
}
.gallery__strip:hover {
  animation-play-state: paused;
}
.photo {
  position: relative;
  text-align: right;
}
.photo__image img {
  width: 100%;
  transform: translateX(30%);
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.photo:hover .photo__image img {
  transform: translateX(0%);
}
@keyframes move-it {
  0%, 90%, 100% {
    transform: translateY(2%);
  }
  45% {
    transform: translateY(-50%);
  }
}
@keyframes move-it-2 {
  0%, 90%, 100% {
    transform: translateY(-50%);
  }
  45% {
    transform: translateY(5%);
  }
}



.strips__strip--expanded:nth-child(1){
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
.strips__strip--expanded:nth-child(2) {
  width: 100%;
  top: 20 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
.strips__strip--expanded:nth-child(3) {
  width: 120%;
  top: 40 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
.strips__strip--expanded:nth-child(4) {
  width: 100%;
  top: 60 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
.strips__strip--expanded .strip__content:hover:before {
  transform: skew(-30deg) scale(1) translate(0, 0);
  opacity: 0.1;
}
.strips__strip--expanded .strip__title {
  opacity: 0;
}
.strips__strip--expanded .strip__inner-text {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.strip__title {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 7vmin;
  font-weight: 500;
  color: wheat;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strip__close {
  position: absolute;
  right: 3vw;
  top: 3vw;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transition-delay: 0.5s;
}
.strip__close--show {
  opacity: 1;
}
@-webkit-keyframes strip1 {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip1 {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes strip2 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip2 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes strip3 {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip3 {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes strip4 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes strip4 {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft{
 -webkit-animation: fadeInLeft 1.5s both; /* Safari 4+ */
 -moz-animation: fadeInLeft 1.5s both; /* Fx 5+ */
 -o-animation: fadeInLeft 1.5s both; /* Opera 12+ */
 animation: fadeInLeft 1.5s both; /* IE 10+, Fx 29+ */
} 

/* Safari 4+ */
@-webkit-keyframes fadeInLeft {
 0% {
     opacity: 0;
     -webkit-transform: translateX(-50px);
 }
 100% {
     opacity: 1;
     -webkit-transform: translateX(0);
 }
}

/* Fx 5+ */
@-moz-keyframes fadeInLeft {
 0% {
     opacity: 0;
     -moz-transform: translateX(-50px);
 }
 100% {
     opacity: 1;
     -moz-transform: translateX(0);
 }
}

/* Opera 12+ */
@-o-keyframes fadeInLeft {
 0% {
     opacity: 0;
     -o-transform: translateX(-50px);
 }
 100% {
     opacity: 1;
     -o-transform: translateX(0);
 }
}

/* IE 10+, Fx 29+ */
@keyframes fadeInLeft {
 0% {
     opacity: 0;
     transform: translateX(-50px);
 }
 100% {
     opacity: 1;
     transform: translateX(0);
 }
}

/*pinned-micro*/
.container .section-2 .pinned-quote{
  margin-left: -40%;
}
.container .section-2 .pinned-quote img{
  height: 100vh;
  width: 60vw;
  opacity: 0.5;
  margin-left: 65%;
  margin-top: -30%;
}
.container .section-2 .pinned-quote h2 {
  font-size: 6vmin;
  font-weight: 700;
  text-align: right;
  margin-left: 20%;
  margin-right: 5%;
  margin-top: 5%;
  padding: 16px 16px 30px 16px;
  color:wheat;
  display: block;
}
.container .section-2 .pinned-quote p{
  font-size: 2vmin;
  display: block;
  color:wheat;
  text-align: right;
  margin-left: 20%;
  margin-right: 5%;
  padding: 16px 16px 0 16px;
}
.fa {
  color: wheat;
  font-size: 2vmin;
}
.checked {
  color: goldenrod;
}




/*experience timeline*/
.container .section-3 {
  position: relative;
  height: auto;
  place-content: center;
  margin-top: 20%;
  margin-bottom: 9%;
  z-index: 1;
}
.container .section-3 h2{
  font-size: 6vmin;
  font-weight: 700;
  text-align: left;
  color: wheat;
  margin-left: 6%;
  margin-bottom: 5%;
}
.entries {
  max-width: 85vw;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 1%;
}
.entry {
  width: 100%;
  text-align: center;
}
.box{
    width: auto;
    position: relative;
    justify-content: space-between;
    display: grid;
}
.card{
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.face{
    width: 21.6vw;
    height: 27.7vh;
    transition: 0.5s;
    display: flex;
}
.face1{
    position: relative;
    background: black;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transform: translateY(50%);
}
.box .card:hover .face.face1{
    background: #202020;
    transform: translateY(0);
}
.face1 .content{
    opacity: 0.8;
    transition: 0.5s;
}
.box .card:hover .face.face1 .content{
    opacity: 1;
}
.face1 .content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    align-items: center;
}
.first .face1 .content img{
  margin-top: 20px;
  width: 70%;
}
.second .face1 .content img{
  width: 90%;
}
.third .face1 .content img{
  margin-top: 40px;
  width: 70%;
}
.fourth .face1 .content img{
  width: 60%;
}
.face1 .content h3{
    margin: 5px 0 0;
    padding: 0;
    color: wheat;
    text-align: center;
    font-size: 2.5vmin;
}
.first .face1 .content h3{
  margin-top: 20px;
}
.second .face1 .content h3{
  margin-top: 10px;
}
.third .face1 .content h3{
  margin-top: 45px;
}
.fourth .face1 .content h3{
  margin-top: 10px;
}
.face2{
    position: relative;
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 20px 50px wheat;
    padding: 0 10%;
    transform: translateY(-50%);
    z-index: 1;
}
.box .card:hover .face.face2{
    transform: translateY(0);
}

.face2 .content h4{
  word-wrap: break-word;
  margin-bottom: 10%;
  font-size: 2.5vmin;
  font-weight:600;
  margin-top: -10%;
}
.face2 .content p{
    font-size: 2vmin;
    color: black;
}





/* contact*/
.container .section-4{
  color: wheat;  
  height: 90vh;
  overflow: hidden;
}
.container .section-4 .contact{
  text-align: center;
  margin-top: 5%;
  z-index:2;
}
.container .section-4 h3{
  font-size: 2.5vmin;
  font-weight: 800;
  z-index:2;
}
.container .section-4 h2{
  font-size: 4vmin;
  font-weight: 900;
  margin-bottom: 0.5%;
  z-index:2;
}
.container .section-4 p{
  width: 43vw;
  font-size: 2vmin;
  z-index: 2;
  margin-left: 28%;
  margin-bottom: 3%;
}
.container .section-4 img{
  position: relative;
  height: 500px;
  width: 850px;
  margin-left: -4%;
  opacity: 0.5;
  z-index: 1;
}
.container .section-4 .mail{
  font-size: 2vmin;
  position: relative;
  display: inline-block;
  padding: 30px 30px;
  color: wheat;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  z-index: 2;
}
.container .section-4 .mail:hover{
  background: wheat;
  color: #050801;
  box-shadow: 0 0 5px wheat,
              0 0 25px wheat,
              0 0 50px wheat,
              0 0 200px wheat;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.container .section-4 .mail span{
  position: absolute;
  display: block;
}
.container .section-4 .mail span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,wheat);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.container .section-4 .mail span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,wheat);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.container .section-4 .mail span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,wheat);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
.container .section-4 .mail span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,wheat);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}



.footer{
  width: 20vw;
  font-size: 3vmin;
  font-weight: 400;
  word-wrap: break-word;
  color:wheat;
  margin-left: 1%;
  padding-bottom: 1%;
  opacity: 0.5;
}




/*media queries dekstop*/
@media screen
and (min-device-width: 2500px) {
  .strips .hnmn{
    top: 15%;
  }
  .container .section-4 img{
    height: 500px;
    width: 850px;
    margin-top: 7vh;
  }
}

@media screen
and (min-device-width: 1920px)
and (max-device-width: 2499px) {
  .strips .hnmn{
    top: 15%;
  }
  .container .section-4 img{
    height: 350px;
    width: 600px;
    margin-top: 5%;
  }
}

@media screen
and (min-device-width: 1600px)
and (max-device-width: 1919px) {
  .strips .strip__inner-text .hnm{
    margin-top: 115%;
  }
  .strips .hnmn{
    top: -65%;
  }
  .container .section-4 img{
    height: 325px;
    width: 550px;
    margin-top: 4%;
  }
}

@media screen
and (min-device-width: 1440px)
and (max-device-width: 1599px) {
  .strips .strip__inner-text .hnm{
    margin-top: 118%;
  }
  .container .section-4 img{
    height: 300px;
    width: 500px;
    margin-top: 4%;
  }
}

@media screen
and (min-device-width: 1280px)
and (max-device-width: 1439px) {
  .strips .hnmn{
    top: 15%;
  }
  .container .section-4 img{
    height: 250px;
    width: 400px;
    margin-top: 4%;
  }
}

@media screen
and (min-device-width: 1280px)
and (max-device-width: 1439px)
and (-webkit-min-device-pixel-ratio: 2){
  .strips .hnmn{
    top: 15%;
  }
}

@media screen
and (max-device-width: 1280px)
and (device-height: 1024px) {
  .container .home .copy {
    padding: 0 2rem;
  }
  .container .home .copy h1{
    margin-left: 40%;
  }
  .container .home .copy p{
    margin-left: 40%;
  }
  .container .section-1 .image-mask {
    width: 75vw;
    height: 60vh;
  }
  .strips__strip {
    min-height: 100vh;
  }
  .container .section-2 {
    grid-template-columns: 45% 35% 5%;
    grid-column-gap: 10%;
  }
  .bar {
    margin-top: -30%;
  }
  .strips__strip--expanded:nth-child(3) {
    width: 110%;
  }
  .slide-image img {
    width: 35vw;
    height: 60vh;
    margin-top: 0%;
  }
  .slide-image .pf{
    width: 35vw;
    height: 70vh;
    margin-top: -5%;
  }
  .slide-title{
    font-size: 6vmin;
    margin-left: -50%;
    padding-top: 130%;
    margin-top: 60%;
  }
  .slide-content .personal{
    margin-left: -50%;
    padding-top: 90%;
    margin-top: 120%;
  }
  .arrows{
    width: 4vw; 
  }
  .strips .hnmn{
    top: 10%;
  }
  .gallery__strip {
    width: 13vw;
  }
  .container .section-2 .pinned-quote img{
    height: 80vh;
    width: 60vw;
    opacity: 0.5;
    margin-left: 60%;
    margin-top: -25%;
  }
  .container .section-4 img{
    height: 300px;
    width: 500px;
    margin-top: 8%;
  }
}

@media screen
and (min-device-width: 1024px)
and (max-device-width: 1279px) {
  .container .home .copy {
    padding: 0 2rem;
  }
  .container .section-1 .image-mask {
    width: 75vw;
    height: 60vh;
  }
  .strips__strip {
    min-height: 100vh;
  }
  .container .section-2 {
    grid-template-columns: 45% 35% 5%;
    grid-column-gap: 10%;
  }
  .bar {
    margin-top: -30%;
  }
  .strips__strip--expanded:nth-child(3) {
    width: 110%;
  }
  .slide-image img {
    width: 35vw;
    height: 60vh;
    margin-top: 10%;
  }
  .slide-image .pf{
    width: 35vw;
    height: 70vh;
    margin-top: 10%;
  }
  .slide-title{
    font-size: 6vmin;
    margin-left: -50%;
    padding-top: 130%;
    margin-top: 60%;
  }
  .slide-content .personal{
    margin-left: -50%;
    padding-top: 90%;
    margin-top: 120%;
  }
  .arrows{
    width: 4vw; 
  }
  .strips .hnmn{
    top: 15%;
  }
  .gallery__strip {
    width: 13vw;
  }
  .container .section-2 .pinned-quote img{
    height: 80vh;
    width: 60vw;
    opacity: 0.5;
    margin-left: 60%;
    margin-top: -25%;
  }
  .container .section-4 img{
    height: 250px;
    width: 400px;
    margin-top: 5%;
  }
}


/*media queries tablet*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  .container .home .copy {
    margin-left: -10%;
  }
  .container .section-1 .image-mask {
    height: 70vh;
  }
  .container .section-2 {
    margin-top: 20vh;
    grid-template-columns: 45% 30% 10%;
  }
  .strips__strip {
    min-height: 100vh;
  } 
  .strips .me .bio{
    margin-top: 15%;
    margin-left: 10%;
  }
  .bar {
    margin-top: -30%;
  }
  .strips .skills {
    top: 60%;
  }
  .slide-image img {
    width: 35vw;
    height: 60vh;
    margin-top: -10%;
  }
  .slide-image .pf{
    width: 35vw;
    height: 70vh;
    margin-top: 0%;
  }
  .slide-title{
    margin-left: -35%;
    margin-top: 100%;
  }
  .slide-content .personal{
    margin-left: -30%;
    margin-top: 110%;
  }
  .arrows{
    margin-top: 0%;
    margin-left: 90%;
  }
  .gallery__strip {
    width: 13vw;
  }
  .strips .hnmn{
    top: 15%;
  }
  .container .section-2 .pinned-quote h2 {
    padding-bottom: 15%;
  }
  .container .section-2 .pinned-quote img{
    height: 80vh;
    width: 60vw;
    margin-left: 55%;
    margin-top: -20%;
  }
  .container .section-4 p{
    width: 59vw;
    margin-left: 20%;
  }
  .container .section-4 img{
    height: 400px;
    width: 600px;
    margin-top: 8%;
  }
  .footer{
    font-size: 2.5vmin;
  }
}

@media only screen
  and (min-device-width: 1112px)  
  and (max-device-width: 1180px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .strips .exp{
      height: 90%;
    }
    .slide-image img {
      width: 35vw;
      height: 60vh;
      margin-top: 0%;
    }
    .slide-image .pf{
      width: 35vw;
      height: 70vh;
      margin-top: 0%;
    }
    .slide-title{
      padding-top: 0%;
      margin-top: 55vh;
    }
    .slide-content .personal{
      padding-top: 0%;
      margin-top: 65vh;
    }
    .arrows{
      margin-top: -2vh;
    }
    .strips .hnmn{
      top: 10%;
    }
    .gallery__strip {
      width: 13vw;
    }
}

@media only screen
  and (min-device-width: 1024px)  
  and (max-device-width: 1138px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .strips .exp{
      height: 100vh;
    }
    .slide-image img {
      width: 35vw;
      height: 60vh;
      margin-top: 10%;
    }
    .slide-image .pf{
      width: 35vw;
      height: 70vh;
      margin-top: 0%;
    }
    .slide-title{
      font-size: 6vmin;
      margin-left: -30vw;
      padding-top: 0%;
      margin-top: 60vh;
    }
    .slide-content .personal{
      margin-left: -30vw;
      padding-top: 0%;
      margin-top: 70vh;
    }
    .arrows{
      width: 4vw;
      margin-top: -1vh; 
    }
    .container .section-2 .pinned-quote img{
      height: 80vh;
      width: 60vw;
      opacity: 0.5;
      margin-left: 60%;
      margin-top: -10%;
    }
    .strips .hnmn{
      top: 10%;
    }
    .container .section-4 img{
      height: 350px;
      width: 500px;
      margin-top: 7%;
    }
}

@media only screen  
  and (device-width: 1138px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
    .bar ul{
      margin-top: 10%;
    }
    .arrows{
      margin-top: -2vw;
    }
    .container .section-4 img{
      margin-left: -31%;
      margin-top: -12%;
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .container .home {
    grid-template-columns: 55% 45%;
  }
  .container .home .copy h1{
    margin-left: 35%;
    margin-top: 40vh;
  }
  .container .home .copy p{
    margin-left: 35%;
  }
  .container .section-1 {
    height: 60vh;
  }
  .container .section-1 .image-mask {
    width: 80vw;
    height: 40vh;
  }
  .container .section-2{
    margin-top: 15vh;
    grid-template-columns: 50% 30% 5%;
  } 
  .strips .me .bio{
    margin-top: -50%;
  }
  .bar {
    margin-top: -50%;
  }
  progress[value] {
    height: 25px;
  }
  .slide-image img {
    width: 45vw;
    height: 55vh;
  }
  .slide-image .pf{
    width: 47vw;
    height: 67vh;
  }
  .slide-title{
    margin-top: 180%;
    margin-bottom: 20%;
  }
  .slide-content .personal{
    margin-left: -30%;
    margin-top: 270%;
  }
  .arrows{
    width: 6vw; 
  }
  .arrow { 
    width: 2vw; 
    height: 2vw; 
  }
  .strips .hnmn{
    top: 10%;
  }
  .container .section-2 .pinned-quote{
    margin-left: -50%;
  }
  .container .section-2 .pinned-quote h2 {
    padding-bottom: 17.5%;
  }
  .container .section-2 .pinned-quote img{
    height: 60vh;
    width: 75vw;
    margin-left: 40%;
    margin-top: 30%;
  }
  .container .section-3{
    margin-bottom: 0%;
  }
  .face{
    height: 20vh;
  }
  .face2 .content p{
    font-size: 1.5vmin;
    color: black;
  }
  .face2 .content h4{
    font-size: 2vmin;
  }
  .container .section-4{
    height: 70vh;
  }
  .container .section-4 p{
    width: 60vw;
    font-size: 2vmin;
    z-index: 5;
    margin-left: 20%;
    margin-bottom: 3%;
  }
  .container .section-4 img{
    height: 350px;
    width: 600px;
  }
  .footer{
    width: 30vw;
  }
}

@media only screen 
  and (min-device-width: 712px) 
  and (max-device-width: 1023px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .container .home {
      grid-template-columns: 55% 45%;
    }
    .container .home .copy{
      padding: 0 3rem;
    }
    .container .home .copy h1{
      margin-left: 20%;
      margin-top: 45vh;
    }
    .container .home .copy p{
      margin-left: 20%;
    }
    .container .home .image-wrapper img {
      margin-top: 60%;
      height:80%;
      object-fit: cover;
    }
    .container .section-0{
      margin-top: 10vh;
    }
    .container .section-1{
      height: 60vh;
    }
    .container .section-1 .image-mask {
      width: 80vw;
      height: 40vh;
    }
    .container .section-2 {
      margin-top: 10vh;
      grid-template-columns: 45% 35% 5%;
    }
    .strips__strip {
      min-height: 70vh;
    }
    .strips__strip--expanded:nth-child(1){
      width: 225%;
      height: 100vh;
    }
    .strips__strip--expanded:nth-child(2) {
      width: 225%;
      height: 100vh;
    }
    .strips__strip--expanded:nth-child(3) {
      width: 225%;
      height: 100vh;
    }
    .strips__strip--expanded:nth-child(4) {
      width: 225%;
      height: 100vh;
    }
    .strips .me .bio{
      margin: 0% 20%;
      margin-left: 25%;
    }
    .strips .me .bio p{
      font-size: 2.5vmin;
    }   
    .strips .me .bio span{
      font-size: 3vmin;
    }
    .strips .me .biodata{
      font-size: 2.5vmin;
    }
    .strips .me .biodata .bio-title{
      font-size: 3vmin;
    }
    .strips .me .biodata .media .social-media span{
      font-size: 2.5vmin;
    }
    .strips .me .biodata .cv{
      font-size: 2.5vmin;
    }
    .bar ul{
      width: 65%;
      margin-left: 15%;
      margin-top: 10%;
    }
    progress[value] {
      height: 25px;
      margin-bottom: 5%;
    }
    .strips .strip__inner-text h2{
      font-size: 4vmin;
    }
    p[data-value] { 
      font-size: 3vmin;
    }
    .strips .exp{
      width: 70%;
      height: 90%;
    }
    .slide-image img {
      width: 65vw;
      height: 70vh;  
    }
    .slide-image .pf{
      width: 60vw;
      height: 70vh;
      margin-top: 0%;
    }
    .slide-title{
      font-size: 7vmin;
      font-weight: 500;
      margin-left: -30vw;
      padding-top: 0%;
      margin-top: 70vh;
    }
    .slide-content .personal{
      margin-left: -31vw;
      margin-top: 70vh;
      padding-top: 0%;
    }
    .arrows{
      width: 7vw; 
      margin-top: -2vh;
      margin-left: 72vw;
    }
    .arrow { 
      width: 3vw; 
      height: 3vw; 
    }
    .strips .strip__inner-text h3{
      font-size: 3.5vmin;
    }
    .strips .hnmn{
      top: 15%;
    }
    .strips .strip__inner-text .hnm{
      margin-right: 10vw;
      margin-left: 10vw;
      font-size: 3vmin;
    }
    .strips .strip__inner-text .hnm .hnmun{
      margin-left: -0%;
    }
    .gallery__strip {
      min-height: 40vh;
      width: 23vw;
    }
    .container .section-2 .pinned-quote h2 {
      font-size: 7vmin;
      margin-left: 15%;
      padding-bottom: 25%;
    }
    .container .section-2 .pinned-quote p{
      font-size: 2.5vmin;
      margin-left: 15%;
    }
    .container .section-2 .pinned-quote img{
      height: 60vh;
      width: 85vw;
      margin-left: 29%;
      margin-top: -3%;
    }
    .container .section-3 h2{
      font-size: 7vmin;
    }
    .container .section-3 .first{
      top: 0 !important;
    }
    .container .section-3 .second{
      margin-top: 30vh !important;
      margin-left: -10vw !important;
    }    
    .container .section-3 .third{
      margin-top: 60vh !important;
      margin-left: -20vw !important;
    }
    .container .section-3 .fourth{
      margin-top: 90vh !important;
      margin-left: -30vw !important;
    }
    .face{
      height: 20vh;
      width: 50vw;
    }
    .container .section-4{
      height: 80vh;
    }  
    .container .section-4 h3{
      font-size: 3.5vmin;
    }
    .container .section-4 h2{
      font-size: 4.5vmin;
      margin-bottom: 1%;
    }
    .container .section-4 p{
      width: 70vw;
      font-size: 2.5vmin;
      margin-left: 15%;
    }
    .container .section-4 img{
      height: 325px;
      width: 550px;
      margin-top: 10%;
    }
    .container .section-4 .mail{
      font-size: 2.5vmin;
    }
    .footer{
      width: 40vw;
    }
}

@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .container .home .copy h1{
      margin-top: 45vh;
    }
    .container .section-1 .image-mask {
      width: 80vw;
      height: 33.5vh;
    }
    .bar ul{
      margin-top: -5%;
    }
    .strips .strip__inner-text .hnm{
      margin-right: 5vw;
      margin-left: 5vw;
    }
    .strips .strip__inner-text .hnm .hnmun{
      margin-left: -0%;
    }
    .gallery__strip {
      width: 27vw;
    }
    .container .section-2 .pinned-quote img{
      width: 80vw;
      margin-top: 15%;
    }
    .fourth .face1 .content img{
      width: 80%;
    }
}

@media only screen 
  and (device-width: 712px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .container .home {
      grid-template-columns: 50% 50%;
    }
    .container .home .copy h1{
      margin-left: 10%;
      margin-top: 50vh;
    }
    .container .home .copy p{
      margin-left: 10%;
    }
    .container .section-1 .image-mask {
      height: 33vh;
    }
    .bar ul{
      margin-top: -10%;
    }
    .slide-image img {
      width: 70vw;  
    }
    .container .section-2 .pinned-quote img{
      margin-left: 23%;
      margin-top: 20%;
    }
} 


  

/*media queries mobile*/
@media only screen 
  and (min-device-width: 0px)
  and (max-device-width: 480px) {
    .container .home {
      grid-template-columns: 50% 50%;
    }
    .container .home .copy{
      padding: 0 1rem;
    }
    .container .home .copy h1 {
      font-size: 6vmin;
      margin-left: 5%;
      margin-top: 40vh;
    }
    .container .home .copy span {
      font-size: 11vmin;
    }
    .container .home .copy p{
      font-size: 4vmin;
      margin-left: 5%;
    }
    .container .home .image-wrapper {
      height: 90vh;
      width: 100%;
    }
    .container .home .image-wrapper img {
      margin-top: 75%;
      height:80%;
      object-fit: cover;
    }
    .container .section-0{
      margin-top: 5vh;
    }
    .container .section-0 p {
      font-size: 4.5vmin;
    }
    .container .section-0 cite {
      font-size: 3vmin;
    }
    .container .section-1{
      height: 50vh;
    }
    .container .section-1 .image-mask {
      width: 80vw;
      height: 24vh;
    }
    .container .section-2 {
      margin-left: 0%;
      margin-top: 10vh;
      grid-template-columns: 30% 35%;
      column-gap: 40%;
    }
    .strips{
      height: 100vh;
    }
    .strips__strip {
      min-height: 50vh;
    }
    .strip__title{
      font-size: 5vmin;
    }
    .strips__strip:nth-child(1) {
      left: 0vw;
    }
    .strips__strip:nth-child(2) {
      left: 30vw;
      top: -50vh;
    }
    .strips__strip:nth-child(3) {
      left: 0vw;
      top: -50vh;
    }
    .strips__strip:nth-child(4) {
      left: 30vw;
      top: -100vh;
    }
    .strips .strip__content:hover:before {
      transform: skew(-30deg) scale(1) translate(0, 0);
      opacity: 0.1;
    }
    .strips__strip:nth-child(2) .strip__content {
      background: #120B00;
    }
    .strips__strip:nth-child(3) .strip__content {
      background: #120B00;
    }
    .strips__strip--expanded:nth-child(1){
      width: 333%;
      height: 100vh;
    }
    .strips__strip--expanded:nth-child(2) {
      width: 333%;
      height: 100vh;
      top: -50vh;
    }
    .strips__strip--expanded:nth-child(3) {
      width: 333%;
      height: 100vh;
      top: -100vh;
    }
    .strips__strip--expanded:nth-child(4) {
      width: 333%;
      height: 100vh;
      top: -150vh;
    }
    .strips .me .bio{
      margin: 0% 20%;
      margin-left: 7.5%;
    }
    .strips .me .bio p{
      font-size: 3.5vmin;
    }   
    .strips .me .bio span{
      font-size: 4vmin;
    }
    .strips .me .biodata{
      font-size: 3.5vmin;
    }
    .strips .me .biodata .bio-title{
      font-size: 4vmin;
    }
    .strips .me .biodata .cv{
      font-size: 3.5vmin;
    }
    .strips .me .biodata .language{
      grid-template-columns: 55% 45%;
    }
    .strips .me .biodata .media{
      grid-template-columns: 43% 57%;
    }
    .strips .me .biodata .media .social-media span{
      font-size: 3.5vmin;
    }
    .bar ul{
      width: 65%;
      margin-left: 15%;
      margin-top: -10%;
    }
    progress[value] {
      height: 20px;
      margin-bottom: 5%;
    }
    .strips .strip__inner-text h2{
      font-size: 6vmin;
    }
    p[data-value] { 
      font-size: 4vmin;
    }
    .strips .exp{
      width: 70%;
      height: 90%;
    }
    .slide-image img {
      width: 80vw;
      height: 65vh;
      margin-left: -5vw;
    }
    .slide-image .pf{
      width: 75vw;
      height: 70vh;
      margin-top: 0%;
    }
    .slide-title{
      font-size: 8vmin;
      font-weight: 500;
      margin-left: -35vw;
      padding-top: 0%;
      margin-top: 65vh;
    }
    .slide-content .personal{
      margin-left: -35vw;
      padding-top: 0%;
      margin-top: 69vh;
    }
    .arrows{
      width: 7vw; 
      margin-top: 5vh;
      margin-left: 72vw;
    }
    .arrow { 
      width: 3vw; 
      height: 3vw; 
    }
    .strips .strip__inner-text h3{
      font-size: 4.5vmin;
    }
    .strips .strip__inner-text .hnm{
      margin-right: 5vw;
      margin-left: 5vw;
      margin-top: 80vh;
      font-size: 4vmin;
    }
    .strips .strip__inner-text .hnm .hnmun{
      margin-left: -0%;
    }
    .gallery__strip {
      min-height: 40vh;
      width: 27vw;
    }
    .container .section-2 .pinned-quote h2 {
      font-size: 8vmin;
      margin-left: 15%;
      padding-bottom: 10%;
      margin-top: 0%;
    }
    .container .section-2 .pinned-quote p{
      font-size: 3vmin;
      margin-left: 10%;
    }
    .container .section-2 .pinned-quote img{
      display: none;
      height: 100vh;
      width: 160vw;
      margin-left: -30%;
      margin-top: 20%;
      opacity: 0.2;
    }
    .container .section-3{
      margin-bottom: 25vh;
    }
    .container .section-3 h2{
      font-size: 8vmin;
    }
    .face1 .content h3{
      font-size: 4.5vmin;
  }
    .container .section-3 .first{
      top: 0 !important;
    }
    .container .section-3 .second{
      margin-top: 40vh !important;
      margin-left: -10vw !important;
    }    
    .container .section-3 .third{
      margin-top: 80vh !important;
      margin-left: -20vw !important;
    }
    .container .section-3 .fourth{
      margin-top: 120vh !important;
      margin-left: -30vw !important;
    }
    .face{
      height: 20vh;
      width: 50vw;
    }
    .face2 .content p{
      font-size: 3.5vmin;
    }
    .face2 .content h4{
      font-size: 4vmin;
    }
    .container .section-4 {
      height: 70vh;
    }
    .container .section-4 h3{
      font-size: 4vmin;
    }
    .container .section-4 h2{
      font-size: 6vmin;
      margin-bottom: 3%;
    }
    .container .section-4 p{
      width: 80vw;
      font-size: 3.5vmin;
      margin-left: 10%;
      margin-bottom: 8%;
    }
    .container .section-4 img{
      height: 225px;
      width: 300px;
      margin-top: 15%;
    }
    .container .section-4 .mail{
      font-size: 3vmin;
    }
    .footer{
      width: 40vw;
      font-size: 4vmin;
    }
}

@media only screen  
  and (max-device-width: 926px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .container .home {
      grid-template-columns: 60% 40%;
    }
    .container .home .copy h1 {
      font-size: 6vmin;
    }
    .container .home .copy span {
      font-size: 11vmin;
    }
    .container .home .copy p{
      font-size: 4vmin;
    }
    .container .home .image-wrapper img {
      object-fit: contain;
    }
    .container .section-0 {
      margin-bottom: 10vh;
    }
    .container .section-0 p {
      font-size: 5vmin;
    }
    .container .section-0 cite {
      font-size: 4.5vmin;
    }
    .container .section-1 {
      height: 100vh;
    }
    .container .section-1 .image-mask {
      width: 70vw;
      height: 85vh;
    }
    .strips .me .bio p{
      font-size: 2.5vmin;
    }
    .strips .me .bio span{
      font-size: 3vmin;
    }
    .strips .me .biodata{
      font-size: 2.5vmin;
    }
    .strips .me .biodata .bio-title{
      font-size: 3vmin;
    }
    .strips .me .biodata .media .social-media span{
      font-size: 2.5vmin;
      color: wheat;
    }
    .bar ul{
      width: 85%;
    }
    progress[value] {
      height: 15px;
      margin-bottom: 2%;
    }
    .strips .strip__inner-text h2{
      font-size: 5vmin;
    }
    p[data-value] { 
      font-size: 3vmin;
    }
    .strips .hnmn{
      top: 15%;
    }
    .strips .strip__inner-text .hnm{
      font-size: 3vmin;
    }
    .strips .strip__inner-text h3{
      font-size: 3.5vmin;
    }
    .container .section-2 .pinned-quote h2 {
      font-size: 7vmin;
    }
    .container .section-2 .pinned-quote p{
      font-size: 3vmin;
    }
    .container .section-2 .pinned-quote img{
      height: 130vh;
      width: 60vw;
      margin-left: 60%;
      margin-top: -65%;
    }
    .container .section-3 h2{
      font-size: 7vmin;
    }
    .face{
      height: 40vh;
    }
    .face1 .content h3{
      font-size: 4vmin;
    }
    .face2 .content h4{
      font-size: 3.5vmin;
    }
    .face2 .content p{
      font-size: 3vmin;
    }
    .container .section-4 h3{
      font-size: 3.5vmin;
    }
    .container .section-4 h2{
      font-size: 5vmin;
    }
    .container .section-4 p{
      font-size: 3vmin;
      margin-left: 28%;
    }
    .container .section-4 img{
      margin-left: 0%;
      margin-top: -30%;
    }
    .container .section-4 .mail{
      font-size: 3vmin;
    }
    .footer{
      font-size: 4vmin;
    }
}

@media only screen 
  and (min-device-width: 376px) 
  and (max-device-width: 413px)
  and (max-device-height: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait){
    .face2 .content p{
      font-size: 3vmin;
    }
    .face2 .content h4{
      font-size: 3.5vmin;
    }
  }

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .container .home .copy h1 {
    margin-top: 35vh;
  }  
  .container .section-1 .image-mask {
    width: 75vw;
    height: 28vh;
  }
  .face{
    height: 25vh;
    width: 50vw;
  }
  .container .section-3 .second{
    margin-top: 50vh !important;
  }    
  .container .section-3 .third{
    margin-top: 100vh !important;
  }
  .container .section-3 .fourth{
    margin-top: 150vh !important;
  }
  .container .section-4 {
    height: 80vh;
  }
  .container .section-4 img{
    height: 200px;
    width: 250px;
    margin-top: 15%;
  }
}

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 319px)
  and (-webkit-min-device-pixel-ratio: 2.625)
  and (orientation: portrait) {
    .container .section-1 .image-mask {
      height: 22.5vh;
    }
    .container .section-4 {
      height: 70vh;
    }
    .container .section-4 img{
      height: 175px;
      width: 200px;
      margin-top: 10%
    }
  }

@media only screen 
  and (min-device-width: 845px)
  and (max-device-width: 926px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  
}

@media only screen 
  and (min-device-width: 781px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape){
  .container .section-4 img{
    margin-top: -35%;
  }
}

@media only screen 
  and (min-device-width: 668px)
  and (max-device-width: 780px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  .container .section-1 .image-mask {
    height: 75vh;
  }
  .strips__strip {
    min-height: 100vh;
  }
  .container .section-2 .pinned-quote img{
    height: 120vh;
    width: 70vw;
    margin-top: -80%;
    margin-left: 50%;
  }
  .face2 .content h4{
    font-size: 3vmin;
  }
  .face2 .content p{
    font-size: 2.5vmin;
  }
  .container .section-4 img{
    margin-left: 0%;
    margin-top: -35%;
  }
  .container .section-4 .mail{
    font-size: 2.5vmin;
  }
}

@media only screen 
  and (min-device-width: 569px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .container .section-1 .image-mask {
    height: 80vh;
  }
  .strips__strip {
    min-height: 100vh;
  }
  .container .section-2 .pinned-quote img{
    height: 120vh;
    width: 70vw;
    margin-top: -100%;
  }
  .face1 .content h3{
    font-size: 4vmin;
  }
  .face2 .content p{
    font-size: 2.5vmin;
  }
  .face2 .content h4{
    font-size: 3vmin;
  }
  .container .section-4 .mail{
    font-size: 2.5vmin;
  }
  .container .section-4 img{
    height: 600px;
    width: 600px;
    margin-left: 0%;
    margin-top: -30%;
  }
}

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .container .section-1 .image-mask {
    width: 70vw;
    height: 70vh;
  }
  .strips__strip {
    min-height: 110vh;
  }
  .container .section-2 .pinned-quote img{
    height: 130vh;
    width: 70vw;
    margin-left: 60%;
    margin-top: -100%;
  }
  .face2 .content p{
    font-size: 2.5vmin;
  }
  .face2 .content h4{
    font-size: 3vmin;
  }
  .container .section-4 img{
    height: 600px;
    width: 600px;
    margin-left: 0%;
    margin-top: -40%;
  }
}